In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import datetime as dt
import datetime

In [ ]:
import io
from google.colab import files
uploaded=files.upload()

Saving rfm.xlsx to rfm (1).xlsx

In [ ]:
rw = pd.read_excel(io.BytesIO(uploaded.get('rfm.xlsx')))
rw

      order_id     date_created_gmt  customer_id  total
0        16064  2022-03-17T12:03:32         2418  809.5
1        16063  2022-03-17T11:51:54         3270  505.0
2        16061  2022-03-17T11:39:46         3941  312.0
3        16058  2022-03-17T11:19:12           38  212.0
4        16057  2022-03-17T10:56:27           68  860.0
...        ...                  ...          ...    ...
4825      1350  2021-02-14T13:41:49            5  125.0
4826      1344  2021-02-14T13:14:30           11  354.5
4827      1342  2021-02-14T13:05:44            9  147.5
4828      1341  2021-02-14T13:04:47            8  442.0
4829      1340  2021-02-14T13:03:21            7  402.5

[4830 rows x 4 columns]

In [ ]:
rw.dropna(subset=['order_id','customer_id'],how ='all', inplace=True)
print(rw)

      order_id     date_created_gmt  customer_id  total        Date  Recency
0        16064  2022-03-17T12:03:32         2418  809.5  2022-03-17      396
1        16063  2022-03-17T11:51:54         3270  505.0  2022-03-17      396
2        16061  2022-03-17T11:39:46         3941  312.0  2022-03-17      396
3        16058  2022-03-17T11:19:12           38  212.0  2022-03-17      396
4        16057  2022-03-17T10:56:27           68  860.0  2022-03-17      396
...        ...                  ...          ...    ...         ...      ...
4825      1350  2021-02-14T13:41:49            5  125.0  2021-02-14      396
4826      1344  2021-02-14T13:14:30           11  354.5  2021-02-14      396
4827      1342  2021-02-14T13:05:44            9  147.5  2021-02-14      396
4828      1341  2021-02-14T13:04:47            8  442.0  2021-02-14      396
4829      1340  2021-02-14T13:03:21            7  402.5  2021-02-14      396

[4830 rows x 6 columns]

In [ ]:
now=dt.date(2022,3,17)
print(now)

2022-03-17

In [ ]:
rw['Date']=pd.DatetimeIndex(rw['date_created_gmt']).date
print(rw)

      order_id     date_created_gmt  customer_id  total        Date  Recency
0        16064  2022-03-17T12:03:32         2418  809.5  2022-03-17      396
1        16063  2022-03-17T11:51:54         3270  505.0  2022-03-17      396
2        16061  2022-03-17T11:39:46         3941  312.0  2022-03-17      396
3        16058  2022-03-17T11:19:12           38  212.0  2022-03-17      396
4        16057  2022-03-17T10:56:27           68  860.0  2022-03-17      396
...        ...                  ...          ...    ...         ...      ...
4825      1350  2021-02-14T13:41:49            5  125.0  2021-02-14      396
4826      1344  2021-02-14T13:14:30           11  354.5  2021-02-14      396
4827      1342  2021-02-14T13:05:44            9  147.5  2021-02-14      396
4828      1341  2021-02-14T13:04:47            8  442.0  2021-02-14      396
4829      1340  2021-02-14T13:03:21            7  402.5  2021-02-14      396

[4830 rows x 6 columns]

In [ ]:
rw_recency=rw.groupby(by='customer_id',as_index=False)['Date'].max()

In [ ]:
rw_recency.columns

Index(['customer_id', 'Date'], dtype='object')

In [ ]:
rw_recency.head()

   customer_id        Date
0            1  2022-03-06
1            4  2021-03-08
2            5  2021-02-14
3            7  2021-03-08
4            8  2021-02-14

In [ ]:
rw['Recency']=rw_recency['Date'].apply(lambda x: (now- x).days).max()

In [ ]:
rw

      order_id     date_created_gmt  customer_id  total        Date  Recency
0        16064  2022-03-17T12:03:32         2418  809.5  2022-03-17      396
1        16063  2022-03-17T11:51:54         3270  505.0  2022-03-17      396
2        16061  2022-03-17T11:39:46         3941  312.0  2022-03-17      396
3        16058  2022-03-17T11:19:12           38  212.0  2022-03-17      396
4        16057  2022-03-17T10:56:27           68  860.0  2022-03-17      396
...        ...                  ...          ...    ...         ...      ...
4825      1350  2021-02-14T13:41:49            5  125.0  2021-02-14      396
4826      1344  2021-02-14T13:14:30           11  354.5  2021-02-14      396
4827      1342  2021-02-14T13:05:44            9  147.5  2021-02-14      396
4828      1341  2021-02-14T13:04:47            8  442.0  2021-02-14      396
4829      1340  2021-02-14T13:03:21            7  402.5  2021-02-14      396

[4830 rows x 6 columns]

In [ ]:
rw_frequency=rw.groupby(by='customer_id', as_index=False, )['order_id'].count()
rw_frequency.head()

   customer_id  order_id
0            1        33
1            4         2
2            5         1
3            7         2
4            8         1

In [ ]:
rw_frequency.columns=['costumer_id','Frequency']
rw_frequency.head()

   costumer_id  Frequency
0            1         33
1            4          2
2            5          1
3            7          2
4            8          1

In [ ]:
rw_monetary=rw.groupby(by='customer_id',as_index=False)['total'].sum()
rw_monetary.head()

   customer_id    total
0            1  41744.0
1            4    814.5
2            5    125.0
3            7    774.5
4            8    442.0

In [ ]:
rw_monetary.columns=['costumer_id','Monetary']
rw_monetary.head()

   costumer_id  Monetary
0            1   41744.0
1            4     814.5
2            5     125.0
3            7     774.5
4            8     442.0

In [ ]:
RF = pd.merge(rw_frequency , rw_recency,left_index=True,right_on=rw_frequency['costumer_id'])
RFM=pd.merge(RF,rw_monetary)
RFM.head()

   key_0  costumer_id  Frequency  customer_id        Date  Monetary
0      1            4          2            1  2022-03-06     814.5
1      4            8          1            4  2021-03-08     442.0
2      5            9          1            5  2021-02-14     147.5
3      7           12          1            7  2021-03-08     450.5
4      8           13          3            8  2021-02-14    1380.2

In [ ]:
quantile=rw.quantile(q=[0.25,0.5,0.75])
quantile

      order_id  customer_id  total  Recency
0.25   5552.25       651.25  270.0    396.0
0.50   9902.00      1434.50  400.0    396.0
0.75  13431.75      2525.75  540.0    396.0